/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background-color: #53777A;
}

#header {
  background: #53777A;
  position: absolute;
  height: 75px;
  width: 100%;
	
}

#logo {
  background: url('logo.png') no-repeat 6px 20px;
  position: absolute;
  height: 75px;
  width: 120px;
	
}
#left_sidebar {
  background-color: #53777A;
  position: absolute;
  height: 100%;
  width: 120px;
  top: 75px;
	
}

#post_button {
	position: absolute;
  	height: 30px;
  	width: 200px;
  	right: 10px;
  	padding: 10px;
  	top: 10px;
  	background-color: #53007B;
}

#main_content {
	position: absolute;
  	height: 100%;
  	right: 0px;
  	
  	left: 120px;
  	padding: 20px;
  	top: 75px;
  	background-color: #53777A;	
}

#tagline {
	position: absolute;
	left: 120px;
	top: 20px;
	
}

#home_button {
	background: url('home.svg') no-repeat 20px 0px;
	background-size: 75px;
	height: 100px;
	width: 100px;
	display: block;
}
#popular_button {
	background: url('popular.svg') no-repeat 20px 0px;
	background-size: 75px;
	height: 100px;
	width: 100px;
	display: block;
}
#scrapbooks_button {
	background: url('scrapbook.svg') no-repeat 20px 0px;
	background-size: 75px;
	height: 100px;
	width: 100px;
	display: block;
}
#archives_button {
	background: url('archives.svg') no-repeat 20px 0px;
	background-size: 75px;
	height: 100px;
	width: 100px;
	display: block;
}
#profile_button {
	background: url('profile.svg') no-repeat 20px 0px;
	background-size: 75px;
	height: 100px;
	width: 100px;
	display: block;
}

.digest {
	width: 300px;
	float: left;
	position: relative;
	margin-right: 15px;
	margin-bottom: 30px;
}

.digest input[type="submit"] {
	margin-right: 20px;
}
.digest_heading {
	background-color: #ECD078;
	height: 40px;
	padding: 0px 12px 3px;
}

.digest_body {
	padding: 12px;
	font-size: 18px;
	background-color: #20202F;
	color: #ccc;
}

.label-count {
	float:left;
	position: relative;
	top: -17px;
	left: 5px;
	display:inline;
}

.item_collect {
	background: #20202F url('scrapbook.svg') no-repeat 15px 3px;
	background-size: 25px;
	width: 60px;
	height: 30px;
	float: left;
	position: absolute;
	left: 0px;
	margin-top: 3px;
	
}
.item_borrow {
	background: #20202F url('scrapbook.svg') no-repeat 15px 3px;
	background-size: 25px;
	width: 60px;
	height: 30px;
	position: absolute;
	left: 240px;
	margin-top: 3px;
}
.item_ranking {
	background-color: #C02942;
	width: 180px;
	height: 30px;
	position: absolute;
	left: 60px;
	margin-top: 3px;
	
}
